@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    position: relative;
    text-align: center;
}
header .logo{
    padding: 20px;
    position: relative;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

header .user_avatar{
    position: absolute;
    top: 50%;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}
.search_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    background-color: rgb(244, 244, 244);
    border-radius: 30px;
    padding-left: 20px;
    overflow: hidden;
}

.search_box input[type=text]{
    width: 100%;
    height: 35px;
    min-width: 300px;
    outline: none;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    font-family: 'Varela Round', sans-serif;
}
.search_box input[type=submit]{
    height: 100%;
    width: 100px;
    background-color: transparent;
    border: none;
    padding: 15px 10px;
    font-family: 'Varela Round', sans-serif;
    border-left: 1px solid rgb(168, 168, 168);
    font-size: 15px;
}

.search_box input[type=submit]:hover{
    background-color: rgb(86, 179, 229);
    color: white;
}

main{
    background-color: rgb(244, 244, 244);
    position: relative;
    margin-top: 20px;
}

.header_main > a {
    color: black;
}

.header_name_title{
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
    width: 150px;
    background-color: #86f1ff;
    margin-bottom: 20px;
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
    cursor: pointer;
}
.header_name_titlesub{
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
    padding-right: 20px ;
    height: 40px;
    box-sizing: border-box;
    background-color: #86f1ff;
    margin-bottom: 20px;
    padding-left: 20px;
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
}
.header_name_titlesub::after{
    position: absolute;
    content: "";
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 100% 50%);
    background-color: #86f1ff;
    height: 40px;
    width: 20px;
    top: 0px;
    left: -19px;
}
.header_name_title::before,.header_name_titlesub::before{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-left: 20px solid #86f1ff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    top: 0px;
    right: -19px;
}
.header_name_title i{
    margin-left: 20px;
    margin-right: 10px;
}

.header_name_search{
    background-color: rgb(245, 245, 245);
    width: 93%;
    margin: auto;
    padding: 20px;
}
.header_name_search select{
    margin-left: 10px;
    font-size: 0.95rem;
    padding: 5px;
}

#search_input_lable{
    margin-left: 30px;
}

#search_input{
    margin-left: 10px;
    font-size: 0.95rem;
    padding: 5px;
}
#button_search{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid black;
}
#button_search:hover{
    background-color: rgb(180, 180, 180);
}

.footer_main{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.container_main{
    padding: 20px;
    width: 93%;
    margin: auto;
    background-color: rgb(245, 245, 245);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6,1fr);
}

@media (max-width: 1000px) {
    .container_main{
        grid-template-columns: repeat(4,1fr);
    }
}

.container_main_item{
    width: 100%;
    background-color: white;
    border: 1px solid rgb(217, 217, 217);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow: hidden;
    padding-bottom: 10px;
    cursor: pointer;
    transition: transform .2s;
}
.container_main_item:hover{
    box-shadow: rgba(66, 66, 68, 0.2) 0px 7px 29px 0px;
    transform: scale(1.1);
}
.container_main_item .item_image{
    overflow: hidden;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_main_item .item_image img{
    height: 150px;
}

.container_main_item .item_name{
    font-size: 0.95rem;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.container_main_item .item_price{
    color: red;
    font-size: 1.1rem;
}

.container_main_item .item_subprice{
    color: rgb(96, 96, 96);
    font-size: 0.8rem;
}