@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
}
nav .logo{
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    margin: 0 10px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}
nav ul li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 0;
    height: 2.5px;
    transition: all 0.3s ease;
}
nav ul li a:hover::before{
    width: 100%;
}

a.cart{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: black;
    padding: 10px;
    border-radius: 50%;
}

a.cart:hover{
    background-color: rgb(91, 91, 91);
    color: white;
}


.nav_container{
    display: flex;
    align-items: center;
}

.nav_container div.avatar{
    width: 40px;
    height: 40px;
    margin-left: 60px;
    overflow: hidden;
}
.nav_container div.avatar img{
    width: 100%;
    height: 100%;
}
.header_main{
    padding-left: 30px;
}

.header_main > a {
    color: black;
}

.header_name_title{
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
    width: 150px;
    background-color: #86f1ff;
    margin-bottom: 20px;
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
    cursor: pointer;
}
.header_name_titlesub{
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
    padding-right: 20px ;
    height: 40px;
    box-sizing: border-box;
    background-color: #86f1ff;
    margin-bottom: 20px;
    padding-left: 20px;
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
}
.header_name_titlesub::after{
    position: absolute;
    content: "";
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 100% 50%);
    background-color: #86f1ff;
    height: 40px;
    width: 20px;
    top: 0px;
    left: -19px;
}
.header_name_title::before,.header_name_titlesub::before{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-left: 20px solid #86f1ff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    top: 0px;
    right: -19px;
}
.header_name_title i{
    margin-left: 20px;
    margin-right: 10px;
}

main{
    width: 90%;
    margin: 10px auto;
    display: flex;
    gap: 40px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 150px;
}

main *{
    font-family: Arial, Helvetica, sans-serif;
}
.header_tab div:first-child{
    text-align: left;
    padding-left: 30px;
}

.box_gird{
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    grid-template-columns: 60% repeat(4,1fr);
}
.info_item {
    padding-left: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.item_figure a{
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
}
.item_figure a:hover{
    color: white;
    background-color: red;
}
.info_item .img_item{
    width: 200px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.info_item .name_item{
    text-align: left;
}
.info_item .img_item img{
    width: 100%;
}

.info_item .name_item{
    max-width: 500px;
    overflow: hidden;
}

.info_item input[type="checkbox"]{
    width: 25px;
    height: 25px;
}

.footer_fixed *{
    font-family: Arial, Helvetica, sans-serif;
}

.footer_fixed{
    position: fixed;
    height: 100px;
    background-color: white;
    bottom: 0;
    width: 90%;
    left: 5%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
    gap: 20px;
}

.footer_fixed button{
    width: 200px;
    height: 50px;
    background-color: wheat;
    font-size: 1.1rem;
}
.footer_fixed > div {
    font-size: 1.1rem;
    font-weight: bold;
}