.flex-box{
    display: flex;
    gap: 70px;
    width: 80%;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
}
.left{
    width: 400px;
}
.big-img{
    width: 100%;
    overflow: hidden;
}
.big-img img{
    width: inherit;
}

.right{
    max-width: 500px;
}

.cart-btn{
    background-color: #ff5e00;
    margin-right: 20px;
}

.right .name{
    font-size: 2rem;
    font-weight: bold;
    width: 500px;
}
.right .producer{
    font-size: 1.2rem;
    color: rgb(80, 80, 80);
}
.right .price{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: red;
}
.right .size{
    font-size: 1.1rem;
}
.right .size .height,.right .size .area{
    margin-left: 20px;
}
.right .description{
    margin-top: 10px;
    font-size: 1.1rem;
    width: 400px;
    text-align: justify;
}
.add_to_card{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.add_to_card button{
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.numberproduct{
    display: flex;
    gap: 20px;
    height: 30px;
    font-size: 1.2rem;
}
.numberproduct div{
    width: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.numberproduct div:hover{
    background-color: black;
    color: white;
}

.numberproduct input{
    box-sizing: border-box;
    outline: none;
    border: 1px solid black;
    width: 50px;
    text-align: center;
    font-weight: bold;
}

.cart-btn:hover{
    background-color: #ff3c00;
}

.numberinfo{
    display: flex;
    gap: 40px;
    margin-top: 5px;
    color: #2b2b2b;
}

