main{
    width: 90%;
    margin: 10px auto;
    display: flex;
    gap: 40px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 150px;
}

main *{
    font-family: Arial, Helvetica, sans-serif;
}
.header_tab div:first-child{
    text-align: left;
    padding-left: 30px;
}

.box_gird{
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    grid-template-columns: 60% repeat(4,1fr);
}
.info_item {
    padding-left: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.item_figure .button_delete{
    padding: 20px;
}
.item_figure .button_delete:hover{
    color: white;
    background-color: red;
}
.info_item .img_item{
    width: 200px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.info_item .name_item{
    text-align: left;
}
.info_item .img_item img{
    width: 100%;
}

.info_item .name_item{
    max-width: 500px;
    overflow: hidden;
}

.info_item input[type="checkbox"]{
    width: 25px;
    height: 25px;
}

.footer_fixed *{
    font-family: Arial, Helvetica, sans-serif;
}

.footer_fixed{
    position: fixed;
    height: 100px;
    background-color: white;
    bottom: 0;
    width: 90%;
    left: 5%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
    gap: 30px;
}

.footer_fixed button{
    width: 200px;
    height: 50px;
    background-color: wheat;
    font-size: 1.1rem;
    border-radius: 30px;
    cursor: pointer;
}
.footer_fixed > div {
    font-size: 1.1rem;
    font-weight: bold;
}

/* .number{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.number a{
    color: black;
    text-decoration: none;
}

.number div{
    border: 1px solid;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.number div:first-child,.number div:last-child{
    cursor: pointer;
}
.number div:first-child:hover,.number div:last-child:hover{
    background-color: rgb(203, 203, 203);
} */